* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

#profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("./jd.jpg") no-repeat;
    background-size: 400px 400px;
    background-position-x: -100px;
    background-position-y: -20px;
    /* border: 3px solid #585858; */
}
  
  .banner {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  input[type='text'] {
    border: 2px solid rgb(190, 185, 185);
    border-radius: 5px;
    padding: 10px;
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  input[type='text']:focus {
    border: 2px solid blue;
  }
  
  button {
    padding: 5px;
    margin-top: 10px;
    color: white;
    background-color:  #ADD8E6;
    width: 15vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

.button4 {border-radius: 12px;}
  
  #city-name {
    color: white;
    border: 1px solid rgb(190, 185, 185);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 50vw;
    text-align: center;
    padding: 10px;
  }
  
  #weather-type {
    text-align: center;
  }
  
  .list {
    list-style: none;
  }
  
  li {
    text-align: center;
    padding: 4px;
  }
  
  #card-body {
    color: white;
    border: 1px solid rgb(190, 185, 185);
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin-top: 5vh;
  }
